# Dependencies
node_modules/
.pnpm-store/

# Environment variables
.env
.env.local
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# OS specific
.DS_Store
Thumbs.db

# Validations
*.log
.vercel
